aws-infra/aws-ml-pipeline/step-function-pipeline-config.json
{
  "Comment": "GreenGuardian's ML-Pipeline orchestrated by AWS Step Functions configure and monitor batch transformation jobs",
  "StartAt": "Submit Job",
  "States": {
    "Submit Job": {
      "Type": "Task",
      "Resource": "**REMOVED FOR SECURITY -- IT SHOULD BE THE ARN OF THE CURRENT TASK'S ASSOCIATED LAMBDA FUNCTION**",
      "ResultPath": "$.guid",
      "Next": "Wait 60 Seconds"
    },
    "Wait 60 Seconds": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Get Job Status"
    },
    "Get Job Status": {
      "Type": "Task",
      "Resource": "**REMOVED FOR SECURITY -- IT SHOULD BE THE ARN OF THE CURRENT TASK'S ASSOCIATED LAMBDA FUNCTION**",
      "InputPath": "$.guid",
      "ResultPath": "$.status",
      "Next": "Job Complete?"
    },
    "Job Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "Failed",
          "Next": "Job Failed"
        },
        {
          "Variable": "$.status",
          "StringEquals": "Completed",
          "Next": "Clean Batch"
        }
      ],
      "Default": "Wait 60 Seconds"
    },
    "Clean Batch": {
      "Type": "Task",
      "Resource": "**REMOVED FOR SECURITY -- IT SHOULD BE THE ARN OF THE CURRENT TASK'S ASSOCIATED LAMBDA FUNCTION**",
      "ResultPath": "$.guid",
      "Next": "Get Final Job Status",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Job Failed": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "DescribeJob returned FAILED"
    },
    "Get Final Job Status": {
      "Type": "Task",
      "Resource": "**REMOVED FOR SECURITY -- IT SHOULD BE THE ARN OF THE CURRENT TASK'S ASSOCIATED LAMBDA FUNCTION**",
      "InputPath": "$.guid",
      "End": true
    }
  }
}